<h1>Blog Template</h1>
<h1><%= "my title is #{params['title']}"%></h1>
<% json = post_contents(params['title']) %>
<%= json %>
<br>
<%= image_tag(json['title_img_path']) %>
<%= parse_markdown(json['markdown_path']) %>
