<h1>Game Template</h1>
<% json = post_contents(params['title']) %>
<%= json %>
<br>
<iframe id='jsgame' src='<%= json['iframe_path'] %>' width=480 height=360 msallowfullscreen='true' allowfullscreen='true' frameborder='0' scrolling='no' allowtransparency='true' webkitallowfullscreen='true' mozallowfullscreen='true'>
</iframe>
<br>
<script type='text/javascript' src='/js/buttonScript.js'></script>
<input id='myButton' class='button' type='button' onclick="target='jsgame'; launchGame('<%= json['iframe_path'] %>');" value='Launch Fullscreen'>